body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: rgb(39, 39, 39);
  color: white;
  font-family: monospace;
  overflow: hidden;
}
.container {
  max-width: 1400px;
  height: 600px;
  overflow: scroll;
  margin: 0 auto;
  background-color: rgb(39, 39, 39);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.337);
  padding: 20px;
}

.legend-container {
  max-width: 1400px;
  height: auto;
  margin: 6px auto;
  background-color: rgb(39, 39, 39);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.337);
  padding: 10px 20px 10px 20px;
}
h1 {
  color: #ffffff;
  text-align: center;
}
.legend {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.legend-item {
  display: flex;
  align-items: center;
  margin: 5px 10px;
}

.legend-item :hover{
  cursor: pointer;
}
.custom-checkbox {
  width: 20px;
  height: 20px;
  /* border: 2px solid #ddd; */
  margin-right: 5px;
}
.mainVizContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.bar-container {
  margin: 5px;
}
.tooltip {
  background-color:272727;
  border-radius: 4px;
  padding: 10px;
  font-size: 14px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
  max-width: 1400px;
  margin: 10px auto;      
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.249);

}