body {
  font-family: monospace;
  margin: 0;
  padding: 20px;
  background-color: rgb(30, 27, 31);
  color: white;
  font-family: monospace;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.load{
  height: 97vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container {
  max-width: 1400px;
  height: 90%;
  overflow: hidden;
  margin: 0 auto;
  background-color: rgb(30, 27, 31);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.337);
  padding: 20px;
  margin-top: 15px;
}

.viz-contaienr{
  height: 100%;
  overflow: scroll;
}

.legend-container {
  max-width: 1400px;
  height: auto;
  margin: 6px auto;
  background-color: rgb(30, 27, 31);
  font-size: 0.6rem;
}

h1 {
  color: #ffffff;
  text-align: center;
  font-size: 3rem;
  opacity: 0;
}

.viz-title {
  opacity: 1;
  font-size: 1.4rem;
  text-align: left;
}

.title-container{
  background-color: rgb(30, 27, 31);
  border-radius: 14px;
  max-width: 1650px;
  padding: 20px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.337);
  margin-top: 20px;
}

.visualization-header{
  display: none;
  max-width: 1400px;
  margin: 24px auto;
}

.flex-container{

  max-width: 1400px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.explore-btn {
  padding: 10px 20px;
  font-size: 1.2rem;
  font-family: monospace;
  width: 200px;
  background-color: #e8e8e8;
  color: #1F1B1F;
  border: none;
  border-radius: 50px;
  cursor: crosshair;
  opacity: 0;
  align-self: center;
  margin-top: 10px;
  box-shadow: 0 4px 6px rgba(94, 94, 94, 0.1);
  transition: transform 0.2s, box-shadow 0.5s;
}

.explore-btn:hover {
  transform: translateY(-1px);
  box-shadow: 0 8px 12px rgba(255, 246, 246, 0.2);
}

.visualization {
  display: none;
  height: 90vh;
}

.containers-wraper{
  display: flex;
  flex: row;
  height: 85vh;
  margin-left: 20px;
}

.legend {
  display: flex;
  justify-content: left;
}

.legend-item {
  display: flex;
  align-items: center;
  margin: 5px 10px;
}

.legend-item :hover{
  cursor: crosshair;
}

.custom-checkbox {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  appearance: none;
  background-color: #fff;
  border: 2px solid #1F1B1F;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}

.custom-checkbox:checked {
  background-color: #1F1B1F;
}

.custom-checkbox:checked::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 6px;
  width: 6px;
  height: 12px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkbox {
  display: flex;
  align-items: center;
}
.mainVizContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bar-container {
  margin: 5px;
}

.tool-container{
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.249);
  margin: 10px auto;      
}

.tooltip {
  background-color:272727;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 4px;
  padding: 20px;
  font-size: 14px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
  max-width: 1400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.249);
  text-align: left;
}

.explain-img{
  width: 1000px;
}

.paragraph-title{
  margin: 0 auto;
  max-width: 900px;
  font-size: 1rem;
  margin-bottom: 20px;
  text-align: center;
}

.charts{
  padding: 15px;
  display: flex;
  flex-direction: column;
}

#category-bar-chart{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.249);
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 14px;
}

#topic-words-bar-chart{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.249);
  padding: 30px;
  border-radius: 10px;
}

.paragraph-landing{
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1.6em;
  opacity: 0;

}

.footer{
  padding: 20px;
}