body {
  font-family: monospace;
  margin: 0;
  padding: 20px;
  background-color: rgb(39, 39, 39);
  color: white;
  font-family: monospace;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}
.load{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container {
  max-width: 1400px;
  height: 840px;
  overflow: scroll;
  margin: 0 auto;
  background-color: rgb(39, 39, 39);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.337);
  padding: 20px;
  /* text-align: center; */

}
.viz-contaienr{
  height: 470px;
  overflow: scroll;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.337);

}
.legend-container {
  max-width: 1400px;
  height: auto;
  margin: 6px auto;
  background-color: rgb(39, 39, 39);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.337);
  padding: 10px 20px 10px 20px;
}
h1 {
  color: #ffffff;
  text-align: center;
  font-size: 3rem;
  opacity: 0;
}
.viz-title{
  opacity: 1;
}

.explore-btn {
  padding: 10px 20px;
  font-size: 1.2rem;
  width: 200px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  opacity: 0;
  align-self: center;
  margin-top: 10px;
}
.visualization {
  display: none;
  margin-top: 100px;
  height: 100vh;
}

.legend {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.legend-item {
  display: flex;
  align-items: center;
  margin: 5px 10px;
}

.legend-item :hover{
  cursor: pointer;
}
.custom-checkbox {
  width: 20px;
  height: 20px;
  /* border: 2px solid #ddd; */
  margin-right: 5px;
}
.mainVizContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.bar-container {
  margin: 5px;
}
.tooltip {
  background-color:272727;
  display: flex;
  
  flex-direction: column;
  align-items: flex-start;

  border-radius: 4px;
  padding: 10px;
  font-size: 14px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
  max-width: 1400px;
  margin: 10px auto;      
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.249);

}

.explain-img{
  width: 1000px;

}

.paragraph-title{
  margin: 0 auto;
  max-width: 900px;
  font-size: 1rem;
  margin-bottom: 20px;
  text-align: center;
}